*
!.gitignore
!.zshrc
!.zshenv
!.stow-local-ignore

!.config/

!.config/nvim
!.config/nvim/**

!.config/nushell
!.config/nushell/**


!.config/television
!.config/television/**


!.config/zed
!.config/zed/themes
!.config/zed/settings.json


!.config/zellij
!.config/zellij/**

!.config/starship.toml

!.config/nix
!.config/nix/**

!.config/btop
!.config/btop/**

!.config/gh
!.config/gh/**
