*
!.gitignore

!.config/

!.config/lvim
!.config/lvim/**

!.config/nushell
!.config/nushell/**


!.config/zellij
!.config/zellij/**

!.config/starship.toml

!.config/nix
!.config/nix/**

!.config/btop
!.config/btop/**

!.config/gh
!.config/gh/**

